/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
.startquiz{
  margin: 50px;
  padding: 50px;
  background-color:yellow;
  border-radius: 30px;
}

.questions{
  margin: 50px;
  padding: 50px;
  background-color:chartreuse;
  border-radius: 30px;
}
.endSlide{
  margin: 50px;
  padding: 50px;
  background-color: aqua;
  border-radius: 30px;
}

body{
  justify-content: center;
  text-align: center;
  font-size: 25px;
  font-family: comic sans ms;
}

div.img{
  content: url(images/movie-clapper.png);
  position: flex;
  
}

